services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    restart: always
    networks:
      - edital-network

networks:
  edital-network:
    driver: bridge
